/* Contenedor principal */
.contenedor-administradores {
  background-color: #f9fafc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0 auto;
  max-width: 90%;
}

/* Título de la lista */
.administradores-titulo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #4a90e2;
  margin-bottom: 20px;
}

/* Estilo para el botón "Añadir Administrador" */
.add-button {
  display: block;
  margin: 0 auto 20px; /* Centrado */
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;
}

.add-button:hover {
  background-color: #357abd;
}


.table-responsive {
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

.administradores-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  min-width: 600px; /* Garantiza que no colapse en pantallas muy pequeñas */
}

.administradores-table th,
.administradores-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
}

.administradores-table th {
  background-color: #f1f1f1;
  font-weight: bold;
  color: #4a90e2;
}

/* Estilo de las filas de la tabla */
.administradores-table tr {
  transition: background-color 0.1s, transform 0.2s;
}

.administradores-table tr:hover {
  background-color: #4a90e2;
  color: white;
  transform: scale(1.02);
}

/* Texto de la fila al hacer hover */
.administradores-table tr:hover td {
  color: white;
}

/* Estilo para la fila de no datos */
.no-data {
  text-align: center;
  color: #777;
  font-size: 16px;
  padding: 20px 0;
}

/* Estilo para las acciones de los administradores */
.action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4a90e2;
  font-size: 16px;
  transition: color 0.3s;
}

.action-button:hover {
  color: #afceec;
}

.delete-button {
  color: #e04a4a;
}

.delete-button:hover {
  color: #c44141;
}

/* Responsivo a 768px */
@media (max-width: 768px) {
  .contenedor-administradores {
    padding: 15px;
  }

  .administradores-titulo {
    font-size: 20px;
  }

  .add-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .administradores-table th,
  .administradores-table td {
    padding: 8px;
    font-size: 12px;
  }

  .action-button {
    font-size: 14px;
  }
}

/* Responsivo a 400px */
@media (max-width: 400px) {
  .contenedor-administradores {
    padding: 10px;
  }

  .administradores-table{
    width: 40%;
  }
  .administradores-titulo {
    font-size: 18px;
  }

  .add-button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .administradores-table th,
  .administradores-table td {
    font-size: 10px;
    padding: 5px;
  }

  .action-button {
    font-size: 12px;
  }

  .delete-button {
    font-size: 12px;
  }
}
