html {
  overflow: hidden;
}
body{
  overflow: hidden;

}
.container-principal-registro {
  height: 100vh;
  width: 100%;
  color: #fff;
  background: linear-gradient(90deg,
      rgb(3, 105, 201) 0%,
      rgb(60, 216, 243) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formulario-registro {
  /** Tamaño div principal */
  min-width: 400px;
  width: 40%;
  max-width: 600px;
  background-color: #0664cf;
}

.back {
  text-decoration: none;
  font-size: 28px;
  margin-top: 5px;
  margin-left: -10px;
  margin-bottom: -10px;
  /* color: white; */
}

.back:hover {
  opacity: 0.8;
}

.formulario-registro label {
  font-weight: 500;
}

.formulario-registro input, select{
  /* margin-top: 10px;
  margin-bottom: 15px; */
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: 2px solid #047857;
  border: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-checkbox input {
  width: 18px;
  margin: 0;
}