
html {
    overflow: hidden;
}
body{
    overflow: hidden;

}
.sessions-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: rgb(234, 233, 233);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.266); /* Sombra */    
}
.contenedercabecera{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.titulo-gestion{
    justify-content: center;
    align-items: center;
    margin-left: calc(60% - 400px);
}

.sessions-list {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   padding: 0;
   margin: 0;
  gap: 20px;
}

.session-item {
    border: 1px solid #ccc; /* Opcional: borde alrededor de cada elemento */
    padding: 10px; /* Espaciado interno */
    margin: 0;
    border-radius: 5px; /* Bordes redondeados opcional */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
.session-item p {
    margin: 5px 0;
    padding-left: 5px;
}

.logout-session-button {
    background-color: white;
    color: red;
    border: 2px solid red;
    font-weight: bold;
    padding: 8px 12px;
    margin:10px 0 ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-left: 10px;
}
.logout-all-button {
    background-color: white;
    color: blue;
    border: 2px solid blue;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 30%;
    transition: background-color 0.3s ease;
}

.logout-session-button:hover {
    background-color: red;
    color: white;
}



.logout-all-button:hover {
    background-color: blue;
    color: white;
}
.back-button {
    background: none;
    border: none;
    color: #007bff;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.back-button:hover {
    color: #0056b3;
}