.sidebar {
  background: rgb(15, 126, 253);
  background: opacity 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20px;   /* Asegura que empiece desde arriba */
  left: 3%; /* Asegura que esté al borde izquierdo */
  bottom: 0;
  z-index: 1000; /* Muy alto para sobreponer */
  transition: width 0.3s ease, opacity 0.5s ease-out;
  height: 100vh;
  overflow-y: auto;
 
}


.menu-icon {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar.collapsed .menu-icon {
  display: block;
  background: rgba(0, 5, 10, 0.007);
 
}

.sidebar.expanded .menu-icon {
  display: none;
  margin-top: 60px;
}

.tituloSider {
  color: white;
  font-size: 200%;
  text-transform: capitalize;
  text-align: center;
  margin: 5px 0;
  padding: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  display: block;
}

.sidebar a:hover {
  background-color: #007bff; /* Personalizable */
}

.sidebar {
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: auto;
  height: 30px;
  overflow: hidden;
}

.sidebar.expanded {
  left: 0;
  width: 250px;
}
.options{
  margin-left: 0;
  width: auto;
}

@media (max-width: 868px) {

  .sidebar {
    background: rgb(15, 126, 253);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;   /* Asegura que empiece desde arriba */
    left: 1%; /* Asegura que esté al borde izquierdo */
    bottom: 0;
    z-index: 1000; /* Muy alto para sobreponer */
    transition: width 0.3s ease, opacity 0.5s ease-out;
    overflow-y: auto;
  }

  

}
