html {
    overflow: hidden;
}
body{
    overflow: hidden;

}
.logout-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: darkred;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
